[submodule "engine/libs/protobuf"]
	path = engine/libs/protobuf
	url = git@github.com:protocolbuffers/protobuf.git
	tag = v3.14.0
[submodule "rpc/libs/grpc"]
	path = rpc/libs/grpc
	url = git@github.com:grpc/grpc.git
	tag = v1.34.0
